@import "./normalize.min.css";
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  color: #19191D;
  font-size: 20px;
  line-height: 1.4;
  font-family: 'inter', sans-serif;
}

body {
  width: 1920px;
  margin: auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 20px;
  padding: 0 16px;
}

/* .logo {} */

.header_link {
  color: #5A5B6A;
  line-height: 158%;
}

.input-group {
  display: flex;
  position: relative;
  width: 668px;
}

.search-input {
  flex-grow: 1;
  background: #EDEDF0;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 44px;
  margin-right: 30px;
  border: none;

  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

input:focus {
  outline-color: rgb(176, 176, 211);
}

.btn-input {
  outline: none;
  border: none;
  background: inherit;
  position: absolute;
}

.btn-search {
  left: 15px;
  top: 9px;
}

.btn-close {
  right: 40px;
  top: 7px;
}

.search-text {
  color: #2264D1;
  line-height: 158%;
}

.buttons-controll {
  display: flex;
}

.btn {
  background: #fff;
  padding: 8px 12px;
  border: 1px solid #9DC2FF;
  border-radius: 4px;
  outline: none;
  color: #2264D1;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  border: none;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
  0px 4px 8px rgba(41, 121, 255, 0.2);
}

.btn-login {
  margin-right: 21px;
}

.btn-cart {
  margin-right: 16px;
  position: relative;
}

.btn-cart::after{
  content: "5";
  position: absolute;
  top: -12px;
  right: -6px;

  background: red;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

/* .avatar {}

.avatar-img {} */

/* navigation */

.card-icon:hover {
  fill: #2264D1;
}