@import "./normalize.min.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  color: #19191D;
  font-size: 20px;
  font-family: 'inter', sans-serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 20px;
  padding: 0 16px;
  margin-bottom: 34px;
}

.header_link {
  display: inline-block;
  color: #5A5B6A;
}

.header_link:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  position: relative;
  min-width: 668px;
}

.search-input {
  flex-grow: 1;
  background: #EDEDF0;
  padding: 8px 8px 8px 44px;
  border: none;

  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

input:focus {
  outline-color: rgb(176, 176, 211);
}

.search {
  cursor: pointer;
  position: absolute;
  top: 23%;
  left: 2%;
}

.clear {
  cursor: pointer;
  position: absolute;
  top: 21%;
  right: 2%;
}

.search-text {
  color: #2264D1;
}

.buttons-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #fff;
  padding: 8px 12px;
  border: 1px solid #9DC2FF;
  border-radius: 4px;
  outline: none;
  color: #2264D1;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: inline-block;
}

.active {
  border: none;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}

.btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}

.btn:hover.active {
  border: 1px solid #9DC2FF;
}

.btn-login {
  margin-right: 21px;
}

.control-info {
  display: none;
  justify-content: space-evenly;
}

.btn-cart {
  margin-right: 16px;
  position: relative;
}

.btn-cart::after {
  content: "5";
  position: absolute;
  top: -12px;
  right: -6px;

  background: red;
  color: #fff;
  height: 27px;
  width: 25px;
  font-size: 14px;
  padding: 4px 9px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.show {
  display: flex;
}

.avatar-img {
  cursor: pointer;
}

/* navigation */

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.menu-item-link {
  cursor: pointer;
  padding: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  color: #787885;
  margin-bottom: 40px;
}

.menu-item {
  display: inline-flex;
  flex-direction: column;

  border-radius: 10px;
  background: #fff;
}

.menu-item-icon {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  fill: #9696A0;
}

.menu-item.active .menu-item-icon {
  fill: #2264D1;
}

.menu-item.active {
  background: #EBF2FF;
}

.menu-item:hover .card-icon {
  fill: #2264D1;
}

.menu-item:hover {
  color: #2264D1;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}

/* content */


.main-content {
  display: flex;
  justify-content: space-between;
}

/* sidebar */
.sidebar {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: #19191D;

  font-family: 'Inter';
  font-weight: 500;
}

.wrap {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 40px 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.wrap:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}

.sidebar-ico {
  margin-right: 21px;
}

.title {
  font-family: 'Quicksand';
  font-size: 24px;
  color: #2264D1;
}



.sidebar-menu_list {
  margin-bottom: 10px;
  /* list-style-image: url("../img/arr.svg"); */
  font-size: 16px;
}

.item-text {
  display: block;
}

.list-item-link{
  width: 100%;
  cursor: pointer;
  padding: 9px;
  display: inline-block;
}

.list-item-link:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  
}

.item-subtitle {
  font-size: 14px;
  color: #787885;
}

.drop {
  display: inline-block;
  background: #EBF2FF;
  border-radius: 4px;
  padding: 6px 12px;
  color: #2264D1;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.drop-last {
  text-align: center;
  max-width: 100px;
  margin-bottom: 16px;
}

.drop:hover,
.drop-last:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
}

.drop-ico {
  margin-left: 16px;
}

.sidebar-dropbox {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  padding: 16px 8px;
  margin-bottom: 14px;
  cursor: pointer;
}

.sidebar-dropbox:hover {
  border: 1px solid #7f9dcc;
}

.dropbox-arrow {
  display: block;
  float: right;
}

.sidebar-dropbox-opened {
  font-family: 'Inter';
  background: #F7F7FA;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;

  font-weight: normal;
  font-size: 16px;
}

.dropbox-title {
  margin-bottom: 15px;
}

.dropbox-title-arr {
  float: right;
}

.checkbox {
  display: none;
}

.ckeckboxFake {
  display: inline-block;
  width: 20px;
  height: 18px;
  position: relative;
  border: 1px solid #DADADA;
  opacity: 1;

  margin-right: 19px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.ckeckboxFake::before {
  content: "x";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  height: 23px;
  width: 20px;
  text-align: center;
  vertical-align: middle;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.checkbox:checked+.ckeckboxFake::before {
  opacity: 1;
}

.input-label {
  display: inline-block;
	cursor: pointer;
  padding: 3px;
  margin-bottom: 10px;
  width: 100%;
}

.input-label:last-child {
  margin-bottom: 0px;
}

.input-label:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
}


/* styles for content */

.content {
  max-width: 1114px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 30px;
}

.header-content {
  display: flex;
  margin-bottom: 40px;
}

.content_select-group {
  position: relative;
}

.content-select {
  position: relative;
  cursor: pointer;
}

.content-select:not(:last-child) {
  margin-right: 15px;
}

select {
  position: relative;
  border: 1px solid #B4B4BB;
  border-radius: 4px;
  color: #787885;
  font-size: 14px;
  padding: 10px;
  outline: none;
  appearance: none;
}

select.select-active {
  color: #19191D;
  border: 1px solid #5A5B6A;
}

.content_controll-group {
  position: relative;
  margin-left: auto;
  background: #EBF2FF;
  border-radius: 4px;

}

.content-btn {
  background: inherit;
  font-weight: normal;
  color: #5A5B6A;
  border-radius: 4px;

  border: none;
}

.content-btn:hover {
  color: #0956d3;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
    0px 2px 4px rgba(41, 121, 255, 0.24);
}

.active {
  background: #fff;
  color: #2264D1;
}

.grid-icon {
  fill: #787885;
}

.content_grid-group {
  margin-left: 24px;
  border-radius: 4px;
}

.content_grid-group {
  background: #EBF2FF;
}

.btn-grid {
  width: 68px;
  height: 100%;
  border: none;
  background: inherit;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-grid:hover {
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
    0px 2px 4px rgba(41, 121, 255, 0.24);
}

.content-btn_active .grid-icon {
  fill: #2979FF;
}

.btn-grid:not(:last-child) {
  margin-right: 4px;
}

.content-btn_active {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
    0px 2px 4px rgba(41, 121, 255, 0.24);
}

.content-btn_active:hover {
  border: 1px solid #2979FF;
}

/* content menu list */

.content-menu {
  display: flex;
  margin-bottom: 16px;
}

.content-item:not(:first-child) {
  font-size: 14px;
  background: #EDEDF0;
  border-radius: 99px;
  padding: 6px 12px;
}

.content-item {
  margin-right: 8px;
}

.content-link {
  color: #4A4B57;
}

.content-item-active {
  font-weight: 500;
  font-size: 14px;
  color: #19191D;
}

.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 24%;
  margin-bottom: 16px;
  padding: 2%;
  text-align: justify;
}

.card-btn {
  float: right;
}

.card:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2),
    0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.card-controll {
  margin-top: auto;
}

.rating-holder {
  vertical-align: middle;
  display: inline-block;
  margin-right: 9px;
}

.card-controll-text {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.rating-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #5E6366;
}

.card-img-holder {
  margin-bottom: 12px;
}

.card-description {
  flex-grow: 1;
  margin-bottom: 8px;
  font-size: 16px;
  color: #19191D;
}

.card-text {
  margin-bottom: 9px;
  font-size: 14px;
  color: #787885;
  min-height: 40px;
}

.extra-text {
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 4px;
  float: right;
  padding: 4px;
}

.green {
  background: #ECF7ED;
  color: #37833B;
}

.pink {
  background: #FDEDF2;
  color: #C23564;
}

/* murkup wrapper */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* content box */

.content-box,
.footer-holder {
  display: flex;
  max-width: 1114px;
  margin-left: auto;
}

.content-box {
  justify-content: space-between;
	margin-bottom: 50px;
}

.box-info {
  width: 31%;
  background: #EDEDF0;
  border-radius: 8px;
  padding: 26px 16px;
  text-align: center;
}

.box-img {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
}

.box-title {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.box-text {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 14px;
  color: #5A5B6A;
}

.select-child {
  display: inline-block;
	position: absolute;
  top: -8px;
  left: 8px;
  background: #fff;
  padding: 0 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  color: #787885;
  z-index: 2;
}

/* styles for footer  */

.footer {
  padding: 30px 0px;
  background: #F7F7FA;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 16px;
}

.footer-holder {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.footer-box {
  flex-direction: column;
}

.footer-title {
  margin-bottom: 25px;
  color: #B1B1C4;
}

.footer-nav {
  margin-bottom: 25px;
}

.footer-menu {
  display: flex;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 16px;
  color: #1F1F1F;
}

.footer-link {
  display: inline-block;
}

.footer-link-text,
.footer-info-text {
  display: inline-block;
}

.footer-item {
  margin-right: 12px;
}

.footer-link {
  cursor: pointer;
  padding: 6px;
}

.footer-link:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2),
    0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  max-width: 667px;
  color: #1F1F1F;
}

.footer-info-text {
  font-weight: normal;
  font-size: 12px;
  color: #5A5B6A;
}

.footer-track {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  background: #EBF2FF;
  border-radius: 4px;
  color: #2264D1;
  padding: 12px 20px;
}

.social {
  display: inline-block;
  background: #fff;
  padding: 10px 6px ;
  text-align: center;
  min-height: 42px;
  min-width: 42px;
  border: 1px solid #aeb0b4;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.social-facebook {
  background: #3B5998;
}

.social-twitter {
  background: #55ACEE;
}

.social-facebook,
.social-twitter {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-link-text {
  display: block;
}

.footer-subtitle {
  margin-bottom: 25px;
}

.footer-line {
  background: #E6E6EA;
}
